[2019-06-24 18:59] MKGitHub opened #7 "Security issue"
Analyse the binary.
Your name appears thousands of times along with a whole bunch of interesting info from your machine.

[2019-06-25 09:20] gbanfalvikl commented on #7
Good catch! I just took a quick glance, and it seems to happen in several other Swift binary frameworks too, but the weird part is that it only exposes specific file paths – so at least on the surface, it doesn't seem like a it's a misapplied build setting.

Any idea what could be causing this?

[2019-06-28 09:12] gbanfalvikl commented on #7
We found the cause of the issue!  It's caused by a code coverage flag that is by default on release builds.

We've had some internal discussions and decided that it's a relatively low-prioissue. We already provide merchants with dSYMs and bitcode symbol maps which expose most (if not all) of the SDK's
structure and private identifiers. The file paths with usernames in the binaries by themselves do

[2019-06-28 09:12] #7 closed

[2020-01-10 08:43] stickmanlechu opened #10 "iOS App will not build on Xcode 11.3 with KlarnaMobileSDK imported"
Hi! The app I'm currently developing will not build with KlarnaMobileSDK imported with the following error:
`Module compiled with Swift 5.1 cannot be imported by the Swift 5.1.3 compiler: (...)/Pods/KlarnaMobileSDK/ios/xcode-swift51-fat/KlarnaMobileSDK.framework/Modules/KlarnaMobileSDK.swiftmodule/x86_64-apple-ios-simulator.swiftmodule `

**Steps to reproduce the behavior:**

1. Add `pod 'KlarnaMo

[2020-01-13 10:13] omarbh commented on #10
Hi @stickmanlechu, thanks for reporting this, we will look into it and get back to you.

[2020-01-13 10:28] Ladret commented on #10
Hi @omarbh how long do you estimate this could take to fix, days, weeks, months?

[2020-01-13 10:35] ekaterina-dvuzhilova-klarna commented on #10
Hey @Ladret!
Have you tried running having  **_pod "KlarnaMobileSDK/xcode112beta1-swift51-fat"_**  in your podfile? That might help!

[2020-01-13 10:50] stickmanlechu commented on #10
Hi @ekaterina-dvuzhilova-klarna. Although **xcode112beta1-swift51-fat** works, I'm not sure whether our app could be accepted in the App Store with a component built with a beta Xcode. So it's feasible for us to use the library from beta subspec for development, but we would prefer to have a stable build for release.

[2020-01-13 13:03] ekaterina-dvuzhilova-klarna commented on #10
Hey @stickmanlechu. Thank you for your answer.
We don't think it should be an issue for you however we will make a new build ASAP and let you know when it's done.

Thanks!

[2020-01-14 14:17] stickmanlechu opened #12 "Deprecated API Usage - UIWebView"
Hello! After uploading the app to App Store Connect I got a message from the team stating:
`We identified one or more issues with a recent delivery for your app, (...) ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs `. After running a grep searching for UIWebView, KlarnaMobileSDK was the only result to appear.

**To Reproduce**
1. Add Klarna

[2020-01-15 09:20] leon2017 opened #13 "Hybrid Integration on Android"
**Describe the bug**
Hello,I referred to the extensive documentation to integrate your SDK. When I clicked the relevant agreement on the payment page, I flipped two layers of the dialog to let me choose the default browser without setting the default browser, as in this video

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'webview pay'
2. Click on 'User-related agreement'
3. Scroll do

[2020-01-15 14:29] omarbh commented on #13
Hi @leon2017 thanks for reporting this, we will look into it and get back to asap !

[2020-01-15 14:34] omarbh commented on #12
Hi Mateusz, thanks for sharing this with us. The next release will not contain the UIWebview support anymore.

[2020-01-15 15:03] mahmoudjafarinejad commented on #13
Hi @leon2017. Could I ask which Klarna In-App SDK version you are using? If you're not using the latest version, please update it to the latest one and check if it's still behaving the same way.

[2020-01-16 02:22] #13 closed

[2020-01-16 02:24] leon2017 commented on #13
Hi @mahmoudjafarinejad ,
implementation 'com.klarna.mobile:sdk:2.0.0'

[2020-02-17 12:10] omarbh commented on #12
Hi @stickmanlechu , we have published the new release which contains the removal of UiWbeview and other improvements, check it out here : https://github.com/klarna/klarna-mobile-sdk/blob/master/CHANGELOG.md

[2020-02-17 12:10] #12 closed

[2020-02-21 11:30] AmyNgithub opened #18 "KlarnaHybridEventListener functions not triggered"
**Describe the bug**
The problem:
- KlarnaHybridEventListener functions are no longer triggered.
- I rely on those functions to hide my tab-bar so that I can display the Klarna popup registration form properly.

What I did before the problem occurred:
1. Updated to version 2.0.9 from 2.0.8 to resolve one of your previous issues: https://github.com/klarna/klarna-mobile-sdk/issues/12
2. Updated my i

[2020-02-25 13:14] stickmanlechu commented on #10
Hi! After updating your library via CocoaPods everything works fine when debugging, but the app won't upload to App Store Connect with bitcode enabled:

![error-screen](https://user-images.githubusercontent.com/1633400/75250276-4deab000-57d8-11ea-980b-602d02330d3b.png)

**Steps to reproduce the behavior:**

1. Add `pod 'KlarnaMobileSDK/xcode-11.3.1-fat'` to Podfile
2. Add `import KlarnaMobileSDK`

[2020-02-25 15:17] AmyNgithub commented on #10
I've experienced a similar (possibly the same?) issue after updating to 2.0.9 and have not been able to solve it.
However I did not receive any error messages in xCode instead got the error via email from App Store Connect:

Perhaps this added information can help some way.

[2020-02-27 07:01] AmyNgithub commented on #18
Any advice on this?

[2020-02-27 09:24] polar133 commented on #10
Hi @AmyNgithub and @stickmanlechu We're looking into the issue and will update here once we know more, thanks for the info shared.

[2020-02-27 11:04] polar133 commented on #10
Update: We found the problem and we are rolling a new version.

[2020-02-27 12:52] polar133 commented on #10
@AmyNgithub @stickmanlechu  please, try with the version 2.0.10 and let us know if that works.

[2020-02-27 13:26] polar133 commented on #18
Hi @AmyNgithub we will check this issue. Will reply back when we have more info.

[2020-02-27 13:35] AmyNgithub commented on #10
@polar133 Version 2.0.10 seems to have solved the issue for me at least! I'm no longer receiving an error message from App Store Connect when I upload a new version of my app.

[2020-02-27 13:39] AmyNgithub commented on #18
I checked this issue with version 2.0.10 (ref: https://github.com/klarna/klarna-mobile-sdk/issues/10) just to be sure that the issues weren't related (even though it seemed unlikely). And the this problem is still present in version 2.0.10.

[2020-02-27 14:57] polar133 commented on #18
@AmyNgithub please, contact me thought this email carlos.jimenez@klarna.com so we can find a way to debug this issue, because for our side it seems that KlarnaHybridEventListener is been called.

[2020-02-28 13:27] stickmanlechu commented on #10
It also works for me. I think we can close the issue.

[2020-03-06 13:34] AmyNgithub commented on #18
Turned out that the issue was caused by two things:

1. In the stubs suggested by xCode I had to add completionHandler().
[code]
2. I Opened a new page in a new WebView which I had forgotten to add to the SDK
`klarnaSDK.addWebView(self.mySecondWebView)`

Thank you for the assistance!

[2020-03-06 13:34] #18 closed

[2020-03-26 10:58] stickmanlechu opened #26 "iOS App will not build on Xcode 11.4 with KlarnaMobileSDK imported"
Hello, I'm unable to build the app with Klarna 2.0.10 imported with the newest Xcode 11.4. The following error is displayed:
[code]

**Steps to reproduce the behavior:**
1. Add pod 'KlarnaMobileSDK/xcode-11.3.1-fat', '2.0.10' to the Podfile
1. Add import KlarnaMobileSDK in any of the Swift files
1. Build

**Expected behavior**
The whole workspace is expected to build successfully.

**Screenshots**

[2020-03-27 10:55] stickmanlechu commented on #26
Fixed in 2.0.11

[2020-03-27 10:55] #26 closed

[2020-04-29 07:40] AmyNgithub opened #31 "No klarna-inapp-sdk tag on Stack Overflow"
**Describe the bug**
The tag "klarna-inapp-sdk" mentioned under ["Support"](https://github.com/klarna/klarna-mobile-sdk#support) does not exist on Stack Overflow and I do not have enough reputation points to create it.

Since I'm not sure if my problem is an error on my part or a bug in the SDK I want to be able to label it correctly so the right people see it and I suspect that you're keeping an

[2020-05-05 10:00] omarbh commented on #31
Hi Amy!  Thanks for reporting this, we will create the tag as soon as possible.

[2020-05-15 10:19] PereAlmendro opened #35 "A server with the specified hostname could not be found"
**Describe the bug**
viewing the loogs It seems that some request are launched with invalid host name. it has not the // after https:

https:evt.klarna.com/v1/mobile-sdk/klarna-mobile-sdk/paymentsResponse.

**To Reproduce**
Steps to reproduce the behavior:
1. just follow
https://developers.klarna.com/documentation/in-app/ios/steps-klarna-payments-native/
2. Watch logs
**Expected behavior**
Klarna

[2020-05-15 18:51] shepting commented on #10
@polar133 Can you share what the root issue was? I think I'm seeing a similar issue with a different SDK, but I'd like to investigate further.

[2020-05-18 13:08] #35 closed

[2020-05-19 00:04] PeterStavny commented on #10
Hi! We are trying integrate and publishing your framework with last version 2.0.13. We have similiar or the same problem mentioned above by @stickmanlechu with bitcode . We cannot create the AdHoc distibution with bitcode enabled:

<img width="745" alt="Screenshot 2020-05-19 at 01 36 42" src="https://user-images.githubusercontent.com/8318070/82269918-5f74cb80-9973-11ea-84b8-cf9e6f1b3a21.png">

**S

[2020-05-19 07:35] polar133 commented on #10
Hi @PeterStavny, can you try with the prev. version, please ? 2.0.12. It's the same as 2.0.13 regards features and implementation. Please, try and let us know if that works.

[2020-05-19 07:40] polar133 commented on #10
Hi @shepting, it's a bit tricky this error because it could be for different reasons. In our case is related to our test source code still being referenced while building the framework for release. What we do to solve it, was to "disable" the tests code and coverage before building.

[2020-05-19 10:56] PeterStavny commented on #10
Hi polar133! I have been checking 2.0.12. I was able to create a archive with bitcode without any error message.
But the uploaded application crash immmediatly after start. I checked it too on a real device in the Dev mode with the same result. Application crashed with the result:

**dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /private/var/containers/Bundle/Application/3

[2020-05-19 11:13] polar133 commented on #10
@PeterStavny thanks for your feedback. Can you please follow these steps:

Note: If you encounter the build failure error Library not loaded: @rpath/libswiftCore.dylib, then you might need to create a Swift Bridging Header. to do so, please follow the steps below:

- In XCode, create a new (dummy) .swift file in the project.
- A prompt window would ask you if you want to configure the Bridging Hea

[2020-05-19 15:01] PeterStavny commented on #10
Hi @polar133, I followed the recommended steps but it doesn't help. The result is still the same:

**dyld: Library not loaded: @rpath/libswiftDispatch.dylib
  Referenced from: /private/var/containers/Bundle/Application/CD6EDDD9-A2AD-40DB-BD46-457177525F2F/iPay.app/Frameworks/KlarnaMobileSDK.framework/KlarnaMobileSDK
  Reason: image not found**

[2020-05-20 21:31] PeterStavny commented on #10
Hi @polar133,

Maybe it can help you. I tried to compare the application settings and pods with your demo application [Fashion Store](https://github.com/klarna/kp-ios-example-app).
I achieved the same result there as in my obj-c project for versions 2.0.10 to 2.0.13.

[2020-05-21 08:42] PeterStavny commented on #10
Hi @polar133,

How I mensioned above I tried to compare the application settings and pods. When I have been looking on Build Settings -> Search Paths -> Framework Search Paths, Klarna was wrong:

should be by Pods structure:

Header Search Paths was empty. I put here path for Klarna too:

Than I have been able to run application on a mobile device (I tried version 2.0.10 and last 2.0.14) without e

[2020-05-22 08:12] polar133 commented on #10
Hi @PeterStavny thanks for the information provided. We will give a look at it and will reply back if we found the issue but good point about the configuration.

[2020-05-22 08:35] PeterStavny commented on #10
Hi @polar133,

Your pods/podspec configuration is right.
Problem was with Settings -> Search Paths -> Framework Search Paths.

I have been integrating the Klarna to older project. I overwrited this setting for other frameworks long time ago.  And here is problem. When settings is overwited xcode use this settings and ignore pods configurations.  I removed custom settings and it works as it is expe

[2020-05-22 09:14] #10 closed

[2020-05-22 09:26] polar133 commented on #10
Hi @PeterStavny nice to know that is working! thanks for the info provided during the process of implementing it.

[2020-06-15 08:58] omarbh commented on #31
Hi Amy, We have update the readme to remove confusion. We will use only Github for issue and help requests. I will close the ticket and feel free to reopen it if you need further assistance

[2020-06-15 08:58] #31 closed

[2020-08-27 12:40] MickeMakaron opened #52 "Cannot install via Carthage"
I am trying to install the Klarna Mobile SDK for iOS with Carthage.

I have added `github "klarna/klarna-mobile-sdk"` to the Cartfile.

When I run `carthage update klarna-mobile-sdk` I get: `*** Skipped building klarna-mobile-sdk due to the error: Dependency "klarna-mobile-sdk" has no shared framework schemes`

Am I doing something wrong?

EDIT: As a workaround I was able to use `binary "https://r

[2020-08-28 09:10] polar133 commented on #52
Hi @MickeMakaron. Thanks for the update. We need to update our docs to include how to install the SDK using Carthage, as you mentioned, it's via binary.

[2020-09-16 14:30] AmyNgithub opened #53 "KlarnaMobileSDK not compatible with Swift 5.3 and Xcode 12"
**Describe the bug**
SDK can't be imported in xCode 12 with swift 5.3.

**To Reproduce**
Steps to reproduce the behavior:
1. Install xCode 12 (GM seed - [https://developer.apple.com/xcode/]())
2. Update to latest version of KlarnaMobileSDK (2.0.21)
2. Open project and open file with the line "import KlarnaMobileSDK"
3. Warning stating that: "Module compiled with Swift 5.2.4 cannot be imported by t

[2020-09-16 15:09] polar133 commented on #53
Hi @AmyNgithub, we are working for making it available ASAP.

We are testing in the branch https://github.com/klarna/klarna-mobile-sdk/tree/ios_release_2.0.22. In case that you want to test it you can specify in your Podfile :

`pod "KlarnaMobileSDK", :git => "https://github.com/klarna/klarna-mobile-sdk", :branch => "ios_release_2.0.22",`

reminder: It's still a WIP so it might be further commits

[2020-09-17 06:24] AmyNgithub commented on #53
@polar133 Thanks! I will try that while I wait for the final version :)

[2020-09-17 12:22] AmyNgithub commented on #53
Hi again,
Noticed while I was trying to upload my app to TestFlight to allow other members of my team to test the iOS14 fixes I made that Apple suddenly demands that I specify NSCameraUsageDescription key.

When I searched my project for "camera" the following line appeared a couple of times in KlarnaMobileSDK-Swift.h: "- (void)onCameraPermissionDeniedWithShowedPrompt:(BOOL)showedPrompt;".

Have y

[2020-09-17 12:33] polar133 commented on #53
Hi, that's for card scanning, a feature that we release before and should be only available in the "full" version. In this case, if you are using the pod that i shared before (with subspec to xcode-12.0-gm-fat-basic) should not require camera, but we will look further into it. thanks for the feedback.

In case that you want to keep testing, please, add the camera permission (even if not needed for

[2020-09-17 12:37] AmyNgithub commented on #53
Ok! Thanks for the quick answer. I will wait for the full version before releasing beyond internal testning.

[2020-09-18 06:08] bobergj commented on #53
Please distribute the SDK as an .xcframework, then it should work across Xcode versions, and Swift compiler versions.
Distributing binary Swift modules as a .framework (rather than an .xcframework) is not supported by Apple - there are a bunch of discussions on https://forums.developer.apple.com about this.

Binary Frameworks in Swift
https://developer.apple.com/videos/play/wwdc2019/416

[2020-09-18 13:53] polar133 commented on #53
Hi @AmyNgithub we release 2.0.22, it should not require the camera permission.

[2020-09-22 10:58] d4nielRV opened #56 "Provide binary framework as XCFramework"
name | about | title | labels | assignees
-- | -- | -- | -- | --
 Provide binary framework as XCFramework | Improving the way the apps integrate the SDK |  Provide binary framework as XCFramework  |   |  

**Is your feature request related to a problem? Please describe.** Klarna mobile SDK are currently providing multiple folders depending on the version of Xcode and fat/slim options for different

[2020-09-22 14:30] AmyNgithub commented on #53
Hi @polar133 ,
I downloaded version 2.0.22 and tried to upload to TestFlight but it still complains about camera permission.

[2020-09-22 15:21] JonathanDowning commented on #56
This would have a side benefit of being able to adopt Swift Package Manager.
I would be strongly in favor of this proposal.

[2020-09-22 15:29] polar133 commented on #53
Hi @AmyNgithub we are releasing a new version 2.0.23. Please check that version and let us know if that one works.

(not available yet because CDN from Cocoapods is down, will update when it's published)

[2020-09-23 06:24] AmyNgithub commented on #53
@polar133 I apologise. It turns out that I accidentally reverted to your test branch when I tried to solve another issue which occurred when I installed version 2.0.22. But perhaps version 2.0.23 will somehow solve the issue below...
<img width="742" alt="klarnamobilesdkissue" src="https://user-images.githubusercontent.com/11645053/93973965-67a3a400-fd75-11ea-9d53-70130f2e1ce3.png">

[2020-09-23 07:49] polar133 commented on #53
@AmyNgithub 2.0.23 it's released. Please give a try and let us know if there are issues with it please.

[2020-09-23 08:33] AmyNgithub commented on #53
@polar133 Tried 2.0.23 and I no longer have the issue with the camera permission or the other issues from my previous comment!

[2020-09-23 08:33] #53 closed

[2020-09-23 08:41] polar133 commented on #53
Thanks for the update @AmyNgithub.

[2020-09-30 09:48] d4nielRV opened #59 "Provide error enumeration instead of strings for error handling"
**Is your feature request related to a problem? Please describe.**
As part of the Flows & Errors Handling documentation: https://developers.klarna.com/documentation/in-app/overview/inapp-sdk-flows/ you provide a list of cases which should be handled by the developer such as Rejected Authorize or Invalid Client Token. In that documentation:

[code]
In the callback **klarnaFailed** you provide as pa

[2020-10-17 15:14] Sridharan0 opened #62 "Found crash issue when clicking on hyperlink text( ex. Terms & Condition)"
--------- beginning of crash
2020-10-17 20:41:47.064 8525-8525/com.wrinkleit.ecommerce.android.local E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.wrinkleit.ecommerce.android.local, PID: 8525
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.wrinkleit.ecommerce.android.local/com.klarna.mobile.sdk.core.natives.browser.ui.InternalBrowserActivity}: android.view.Inf

[2020-10-17 15:18] Sridharan0 commented on #62
If some one finds issue post it here.

[2020-10-20 13:27] polar133 commented on #56
Hi @d4nielRV and @JonathanDowning. In the latest version (2.0.26) we have our SDK in XCFramework and also as SPM. We still need to update our documentation but you can give a try just by adding this repo as a package dependency. Please, give a try and let us know how did it went.

[2020-10-21 07:56] Sridharan0 commented on #62
Since I'm implementing this feature in my old project I'm using old Android Support libraries only. Is there any possible way to fix this without migrating to androidX @NMGuner

[2020-10-21 08:32] NMGuner commented on #62
Unfortunately no, the team has decided not to support Android Support libraries in the long-term.

[2020-10-21 12:54] Sridharan0 commented on #62
Okay thanks for your reply. @NMGuner

[2020-10-21 15:26] #62 closed

[2020-10-22 14:28] ChrisGarmanJD commented on #52
You still need to update the instructions at
https://developers.klarna.com/documentation/in-app/ios/getting-started

[2020-10-22 14:40] polar133 commented on #52
Hi @ChrisGarmanJD, yes. We still need to update our developer page, we are working on it since it will also include on how to use Swift Package Manager.

For the latest release, we drop the variant for Carthage and we are only building one version with ABI Stability. To use it just need to specify as:

`binary "https://raw.githubusercontent.com/klarna/klarna-mobile-sdk/master/KlarnaMobileSDK.json"

[2020-10-22 14:49] ChrisGarmanJD commented on #52
Hi Carlos,

Thanks for the quick reply - there is a simple script to workaround the lipo problem with carthage in Xcode 12 that works.

We can't switch to cocoapods, and are reviewing SPM.  Can I add our vote to keeping carthage support please?

[2020-10-22 14:56] polar133 commented on #52
Sure. We will keep supporting Carthage as long as we can.

We also used that script to build the framework, but since it's not "official", we try to just give the warning. In case that there are any issues with the SDK and Carthage, please, don't hesitate to contact us again. 👍

[2020-10-22 15:39] ChrisGarmanJD commented on #52
Im running on Xcode 12.1 and am seeing this error trying to compile after successfully running carthage:

Have you got a swift 5.3 binary to make available yet please?

[2020-10-22 15:47] polar133 commented on #52
it's strange since we use Xcode 12.0.1 for that build and also we release as BUILD_LIBRARY_FOR_DISTRIBUTION so it should be available for all of them. Give me a couple minutes and will update the repo with a binary updated. thanks for the info.

[2020-10-22 16:12] polar133 commented on #52
Please give a try again @ChrisGarmanJD.

[2020-10-22 16:33] ChrisGarmanJD commented on #52
I'm up and running now.  Thanks Carlos.

[2020-10-22 16:34] #52 closed

[2020-11-04 15:29] #56 closed

[2020-11-05 07:46] bobergj commented on #56
It went kind of fine. But since all framework variants are in the same repo, the swift package download is ~700mb instead of jus the ~30mb of the xcframework. Perhaps you can create a separate repository for the Swift package?

[2020-11-11 10:31] aniket283 opened #70 "KlarnaPaymentView is not loading klarna payment screen in android"
I am using KlarnaPaymentView for my android project
It is not loading klarna payment screen in physical devices
But in emulator it is working fine
Previously it was working in physical devices as well
Klarna library that I am using : 'com.klarna.mobile:sdk:2.0.16'

Code for klarna:
private void initViews() {
        mPaymentView = findViewById(R.id.paymentView);
        mPaymentView.setCategory("p

[2020-11-13 07:58] bobergj opened #71 "Swift package download takes a long time due to repo size"
**Describe the bug**
The swift package with the xcframework is ~700mb.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure https://github.com/klarna/klarna-mobile-sdk as a swift package dependency in an Xcode project
2. Wait a long time

**Expected behavior**
The swift framework is in it's own repo, so the download is just 30mb.

**Screenshots**
n/a

**Device and version:**
 - Xcode 12

[2020-11-13 10:35] josecriane opened #72 "Unable to install app on physical device using SPM"
**Describe the bug**
When we try add KlarnaMobileSDK using SPM the app is unable to install on physical device

**To Reproduce**
We add klarna-mobile-sdk to a core library and the app is unable to install. The structure of project is:

App > Core Library > KlarnaMobileSDK (with SPM)

Compile and run, xcode show a alert message "Unable to Install app".

**Screenshots**
<img width="863" alt="Screens

[2020-11-13 11:22] josecriane commented on #72
I created a example workspace with the problem
https://github.com/josecriane/klarna-spm-error-example

[2020-11-16 10:57] polar133 commented on #72
Thanks for the example @josecriane we will take a look at it.

[2020-11-16 16:21] polar133 commented on #72
Hi @josecriane, I checked out the example and found out that it's a [xcode bug](https://forums.swift.org/t/swiftpm-binarytarget-dependency-and-code-signing/38953 ) that is going on since Xcode 12. But i managed to make it work following the [pspdfkit guide](https://pspdfkit.com/guides/ios/current/knowledge-base/library-not-found-swiftpm/).

[2020-11-17 14:22] polar133 commented on #71
Hi @bobergj, thanks for the comment. Following the suggestion, the package file for the SPM will be available in [https://github.com/klarna/klarna-mobile-sdk-spm](https://github.com/klarna/klarna-mobile-sdk-spm) so it will download only the .xcframework needed for the integration. Please, give a try and let is know how did it go.

[2020-11-18 16:08] breferrari commented on #7
Hi 👋
Is this issue fixed in the latest release? We use the SDK on our app and we're getting errors in the `lldb` that points paths with your usernames.
This is blocking us to use the `lldb` to properly debug our app. We can't even do a simple `po` command.

[code]

[2020-11-18 16:09] breferrari opened #73 "error: virtual filesystem overlay file not found"
Hi 👋

We use the SDK on our app and we're getting errors in the `lldb` that points paths with your usernames.
This is blocking us to use the `lldb` to properly debug our app. We can't even do a simple `po` command.

[code]

I've found this old issue which is now closed:
https://github.com/klarna/klarna-mobile-sdk/issues/7
Is it related? Was this fixed already?

[2020-11-20 10:10] nrudnyk commented on #10
Hello @polar133, could you please share what was the fix? We having similar issues here in our framework, so I'm wondering if that's something quick and easy fixable. Thanks in advance

[2020-11-20 10:27] polar133 commented on #10
Hi @nrudnyk , Sure, i will try to share what we found. There are many reasons why this happens but the main problem is that the framework is not built with the Swift Standard Libraries. Those libraries should be linked in the build process of the host app by reference. In old versions of iOS / xcode , the build option to embed swift libraries (Always Embed Swift Standard Libraries) should be enabl

[2020-11-20 11:15] nrudnyk commented on #10
Hello @polar133, thanks for getting back to me.
I'm reading my original message and realise, that I should've been more specific.

Right of the bat, I've already tried using ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES, and it doesn't helped unfortunately, while the framework size increased drastically. It just shows IPA processing failed:
<img width="297" alt="image" src="https://user-images.githu

[2020-11-25 03:21] simonpierreroy commented on #73
Seem fixed in 0.29.0

[2020-11-25 03:22] simonpierreroy commented on #72
This is fixed in Xcode 12.2 and is released to bad signing when building to device from Xcode.

[2020-11-30 15:03] danpalmer commented on #71
Thanks for this! Just came looking for solutions to the ~6GB repository and found this. The new SPM repo is working well for us.

[2020-12-09 19:36] richellis opened #78 "LICENSE file is missing but still specified in podspec"
**Describe the bug**
My company uses the `cocoapods-acknowledgements` plugin. After pod update to 2.0.30, I see this warning:
[code]

The podspec still specifies a LICENSE file, but the file appears to have been deleted sometime after 2.0.28.

**To Reproduce**
Steps to reproduce the behavior:
1. `pod update KlarnaMobileSDK`

**Expected behavior**
LICENSE file should be available. Or `license` sect

[2020-12-10 09:13] polar133 commented on #78
Hi @richellis. Thanks for reaching out with this warning, we already uploaded the LICENSE file again, sorry for any inconvenience. Please, try again and let us know how did it go.

[2020-12-10 10:11] polar133 commented on #78
Hi @richellis. Thanks for reaching out with this warning, we already uploaded the LICENSE file again, sorry for any inconvenience. Please, try again and let us know how did it go.

Steps to update the pod:
- pod deintegrate
- pod cache clean --all
- pod install --repo-update

[2020-12-10 23:35] richellis commented on #78
Worked!

[2020-12-10 23:35] #78 closed

[2020-12-16 14:23] bobergj commented on #71
@polar133:

It's good, so for my part you can close this.

[2020-12-16 14:25] polar133 commented on #71
Thanks for the update.

[2020-12-16 14:25] #71 closed

[2020-12-22 11:47] gbanfalvikl commented on #73
Hi, yes, there seemed to be an issue in Xcode 12, we've attempted to fix it in 0.29. Let us know if it's still happening?

[2020-12-28 12:37] NMGuner commented on #70
Hi @aniket283,

Firstly, sorry for the late response. I can inform that we have not faced this issue before and could not reproduce it in such device. If you are still facing this problem please you elaborate a bit more with information about which callbacks are received or the stacktrace. Also, can this be related to a network configuration on the real device?

We definitely would like to support

[2021-01-25 12:47] NMGuner commented on #70
Hi @aniket283,

We are closing the issue, but we would like ask you if it still occurs for you and for any other information that can help us resolve it. Feel free to re-open the issue or contact us even if it is closed.

[2021-01-25 12:47] #70 closed

[2021-02-04 01:44] bobergj opened #80 "Support arm64 simulator in .xcframework and SPM package"
**Is your feature request related to a problem? Please describe.**

The .xcframework does not support the arm64 iOS Simulator (the simulator on M1 Macs).

As we eventually get M1 Macs for our developers, without fixing this, they won't be able to build and run our app on the simulator.

**Describe the solution you'd like**

Build the .xcframwork with an arm64 iOS simulator slice.
A correct .xcfram

[2021-03-11 12:00] omarbh commented on #73
HI, I will close this ticket, please feel free to open it if you are still experiencing the issue.

[2021-03-11 12:00] #73 closed

[2021-03-11 12:01] omarbh commented on #72
Hi, this ticket will be closed, feel free to reopen you are still having the issue.

[2021-03-11 12:01] #72 closed

[2021-03-18 08:01] bobergj commented on #80
How's the investigation going? We have several developers with M1 Macs that have to run Xcode under Rosetta due to this.

[2021-04-01 08:27] polar133 commented on #80
Hi, sorry for the delay. Next release will be available.

[2021-04-15 14:16] polar133 commented on #80
Hi @KirbyInGitHub, @bobergj. Sorry for the delay on this update. Our latest release (2.0.37) should support arm64 in xcframework (https://github.com/klarna/klarna-mobile-sdk-spm). Please, give a try and let us know how did it went with this version. I will close the ticket but if there is any issue, feel free to open it again.

[2021-04-15 14:16] #80 closed

[2021-05-07 08:16] gbanfalvikl commented on #59
Hi!

We'd _love_ to provide an enumeration for error types. This is for our sake too. However, a number of them (most, in fact) come from the backend and we can't insure that all the other cases are (or will be) covered.

We're looking into offering some form of string typealias for error type with the most common values being predefined – effectively making integration look a lot like your code.

[2021-07-20 19:20] isles1217 opened #107 "Camera requirements in SDK Manifest are mandatory"
**Describe the bug**
When preparing a release for OSM on Android, I discovered that the Klarna SDK declares a camera requirement that differs from our app’s requirements that is NOT mentioned in the documentation. Is there a way to make these features optional in your SDK? Releasing our app with the Klarna SDK as is will result in dropping support for devices without cameras.

From the Klarna SDK’

[2021-07-21 16:22] isles1217 commented on #107
Thanks a lot, @NMGuner !

[2021-07-23 15:30] NMGuner commented on #107
Happy to notify that we released a new version(2.0.44) with optional requirements and checks in the SDK to not run into issues during runtime. I will mark this issue as resolved but feel free to update us if you keep experiencing this problem.

[2021-07-23 15:31] #107 closed

[2021-08-03 19:41] ryresma-wish opened #109 "[iOS][Swift Package] Add Binary Target for Basic Version of SDK to Package.swift"
**Is your feature request related to a problem? Please describe.**
When trying to integrate KlarnaMobileSDK using SPM (Swift Package Manager), I noticed that only the binary target for the full version of the SDK is available:

https://github.com/klarna/klarna-mobile-sdk/blob/master/Package.swift
[code]

My team would prefer the integration via Swift Package Manager, but we only need the basic ver

[2021-08-04 18:29] #109 closed

[2021-09-07 07:55] hanorz opened #110 "How can I get BGProdKlarnaView height?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-07 08:53] polar133 commented on #110
Hi @hanorz, thanks for reaching out. I think you are asking about the event listener in the Payment view, in the docs you can find more information: https://docs.klarna.com/in-app/inapp-ios-overview/klarna-payments-native/#handling-height-changes

[2021-09-07 09:10] hanorz commented on #110
Thanks. I think this is it！

[2021-09-07 09:15] #110 closed

[2021-09-07 09:38] hanorz commented on #110
I think there is KlarnaOSMViewEventListener can return the height after loading KlarnaOSMView

[2021-09-07 13:35] hanorz opened #111 "Can not use KlarnaOSMViewEventListener either OC or Swift"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device and version:**
 - Device: [e.

[2021-09-08 01:31] hanorz commented on #111
I think there is no @objc to the delegate, so the oc can't recognize it?

[2021-09-08 08:22] polar133 commented on #111
Hi @hanorz, thanks for informing us about this issue. Yes, the delegate property was not exposed as @ objc. We will fix it asap and release a new version during the day. We will let you know when it's ready.

[2021-09-08 08:30] hanorz commented on #111
Thank you

[2021-09-08 17:01] polar133 commented on #111
Hi @hanorz we release version 2.0.44, please give a try and let us know how it did go.

[2021-09-09 09:29] hanorz commented on #111
Trying.

[2021-09-09 09:51] hanorz commented on #111
It fixed. Thank you.

[2021-09-09 09:57] polar133 commented on #111
Great. I will close the ticket and in case there are any other issue please let us know.

[2021-09-09 09:57] #111 closed

[2021-09-10 02:33] hanorz opened #113 "Can not show Staging View after using 2.0.44 version SDK"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device and version:**
 - Device: [e.

[2021-09-10 09:37] polar133 commented on #113
Hi, @hanorz can you please share the device and OS that you are using for testing? On our end, the label with the underline works correctly to detect the tap gesture that opens the fullscreen view.

[2021-09-10 10:12] hanorz commented on #113
I am using iPhone 12 simulator(14.5) and iPhone 8 real device(14.4).

[2021-09-10 10:14] hanorz commented on #113
The screenshot picture was build in  iPhone 12 simulator(14.5), there is nothing else on the project, only 2.0.44 SDK

[2021-09-10 11:03] polar133 commented on #113
Thanks for the info. We will try to replicate the same issue. Meanwhile, can you try the OSM with the environment = .demo, it should render a static osm view, please, check if that view has the same issue. tap in any part of the underline and should open a fullscreen. Let us know if that one works please.

[2021-09-10 11:05] hanorz commented on #113
Just tried. Same issue, nothing react by tap.

[2021-09-10 11:08] hanorz commented on #113
Only react by this small area.
![企业微信截图_6aaa55f2-07ab-4a2e-9712-e2b1bd29a8d4](https://user-images.githubusercontent.com/9412189/132844590-5d98ce4a-3693-4d4d-bf4e-4032dd3c8422.png)

[2021-09-10 11:15] polar133 commented on #113
@hanorz thanks. Could you share how the[ Debug View Hierarchy](https://developer.apple.com/library/archive/documentation/ToolsLanguages/Conceptual/Xcode_Overview/ExaminingtheViewHierarchy.html) looks for that element please ? also, which version of xcode ?

[2021-09-10 12:26] hanorz commented on #113
![WeChatcab847a3e3d9eb1b2d3e0228c05dae23](https://user-images.githubusercontent.com/9412189/132852796-18dff508-fcd0-411d-b676-b8fb32d5fecc.png)

![WeChat5b2c06dda2ebcd5ceb7ffb2eaaa94f98](https://user-images.githubusercontent.com/9412189/132852899-0ca1482e-2315-41b8-864e-c76754aad0a6.png)

![WeChat5895b24ec36c2e6a47b1e2de3fbccb04](https://user-images.githubusercontent.com/9412189/132853045-51c05bed

[2021-09-10 12:28] hanorz commented on #113
I can send you the demo project if you need.

[2021-09-10 12:47] polar133 commented on #113
@hanorz thanks for the info. It looks like it's a height constraint on the OSM view in the implementation. Make sure to extend _KlarnaOSMViewEventListener_ and use the height sent in _klarnaOSMViewResized_, and update the height constraint for the OSM view with the new height sent.

![132853045-51c05bed-4ce8-4b2f-9dee-3b369e223425](https://user-images.githubusercontent.com/1957429/132855394-af41b6

[2021-09-10 13:20] #113 closed

[2021-09-10 13:20] hanorz commented on #113
It works.Thanks you.

[2021-09-15 16:39] danpalmer opened #114 "Builds using 2.0.44 rejected by Apple due to issue ITMS-90683"
**Describe the bug**

Since upgrading to 2.0.44, builds of our app are rejected by Apple under requirement ITMS-90683.

Full details from Apple's emails:

**To Reproduce**

Submit build of new app to Apple using the Klarna Mobile SDK v2.0.44.

**Expected behavior**

I would expect Klarna to document that the `NSCameraUsageDescription` key is required to use this version of the SDK, as well as docu

[2021-09-16 11:23] polar133 commented on #114
Hi @danpalmer, we have documented the requirement of the permission in our [docs](https://docs.klarna.com/in-app/inapp-ios-overview/ios-getting-started/#configure-your-app-permissions). There is also a [light](https://github.com/klarna/klarna-mobile-sdk/blob/master/KlarnaMobileSDK.podspec#L47) version of the SDK without the card scan feature.

If the integration is by SPM we also have the repo : h

[2021-09-16 14:43] danpalmer commented on #114
Ah thanks, glad to know it's in those docs.

I feel like this change is essentially a breaking change, what do you think?

Generally I don't go back to re-read the full documentation for a library when upgrading it unless I want to use new functionality or need to replace removed functionality. The scope of what could be different is too large, and it doesn't feel like a productive use of time in

[2021-10-01 10:37] AmyNgithub opened #115 "Swift Compiler Warning: arm64-apple-ios.swiftsourceinfo is either malformed or generated by a different Swift version"
**Describe the bug**
After updating to Xcode 13.0 the line:
`import KlarnaMobileSDK`
Triggers Swift Compiler Warning with the following message:
" ... Pods/KlarnaMobileSDK/ios/full/xcode-12.3-fat/KlarnaMobileSDK.framework/Modules/KlarnaMobileSDK.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo' is either malformed or generated by a different Swift version. Note that it uses an unstable format a

[2021-10-04 09:12] gbanfalvikl commented on #115
Thanks for the heads up, we created an internal bug ticket and will be looking into it ASAP!

[2021-10-04 10:15] AmyNgithub commented on #115
Thanks! Please keep me posted on the progress :)

[2021-10-21 08:02] 54lazycat opened #116 "Seems proguard file not contain "-dontusemixedcaseclassnames" command"
**Describe the bug**
when I import  klarna SDK. Sometime build failed.

log info:

Caused by: com.android.tools.r8.errors.b: Class content provided for type descriptor com.getbouncer.cardscan.base.r actually defines class com.getbouncer.cardscan.base.R

it looks like Klarna dependent on getbouncer library. And the proguard file don't contain "-dontusemixedcaseclassnames" command. So at some filesy

[2021-11-04 09:36] ksmandersen commented on #115
@jorgepalac1o We're also on latest Cocoapods 1.11.2 and KlarnaSDK 2.0.44. Downgrading cocoa pods does not work for us either. The warning persists.

[2021-11-04 10:22] peboozt commented on #115
We have the same problem, which is blocking us from upgrading to XCode 13.

we are using klarna-mobile-sdk-basic-spm 2.0.44

[2021-11-19 10:16] Hoderu opened #119 "Clear background and reusing window"
**Describe the bug**
It is a bug connected with transparent navigation bar color. And so we can see the layers below.

**To Reproduce**
Steps to reproduce the behavior:
1. Install version 2.1.0 of KlarnaMobileSDK
2. Update Xcode to version 13.0
3. Open Pay now option
4. Choose "Terms for the Klarna Shopping Sevice"
5. See clear UINavigationBar color inside ProgressNavigationController

**Expected

[2021-12-06 14:01] AlexXer opened #121 "Can't handle initialize error Klarna Payment View"
**Describe the bug**
KlarnaPaymentView can't be initialized. It fails on "SentInitializeResponse" event. What is the cause of it?

**To Reproduce**
Steps to reproduce the behavior:
1. Get client token
2. Start klarnaPaymentView initialize method
3. Client token is verified
4. We have I/chromium: [INFO:CONSOLE(0)] "Uncaught (in promise) TypeError: Failed to fetch", source: file:///data/user/0/com.a

[2021-12-07 12:45] Useftro commented on #121
I have that issue too!
Have you found any possible solutions?

[2021-12-08 11:47] NMGuner commented on #121
Hi, firstly thank you both for reporting this.

@AlexXer  I took a look into our analytics and found some sessions from your app that are logging no callback registered errors. This error happens if you don't initialize the `KlarnaPaymentView` with a callback or do not call the `registerPaymentViewCallback` method if it is not initialized with the callback instance. Hence, could you please share h

[2021-12-13 09:02] AmyNgithub commented on #115
Any update on this? :)

[2021-12-14 09:27] ksmandersen commented on #115
@AmyNgithub Version 2.1.0 resolved this issue for us.

[2021-12-16 07:45] AmyNgithub commented on #115
@ksmandersen Thanks!
Upgraded to 2.1.1 and now the issue is gone for me too.
Closing this issue :)

[2021-12-16 07:45] #115 closed

[2022-01-05 08:33] AlexXer opened #123 "Klarna payment view auth problem"
**Describe the bug**
I am writing native android module for flutter with using klarna SDK. I have custom view with klarna payment view and when Klarna payment view authorizes I have endless progress and no auth fields. In logs I have that Klarna payment view is AppCompat widjet and  we should use AppCompat theme. But theme extends from AppCompat. In some sources told that we should have AppCompatA

[2022-02-21 16:29] tanmayyy opened #133 "Crash in AssetManager.kt"
**Describe the bug**
Users experiencing crashes with the Klarna In-App SDK when trying to render KlarnaOSMView

**To Reproduce**
Unable to reproduce. From stacktraces it occurs when trying to render KlarnaOSMView.

**Expected behavior**
Fatal Exception: java.lang.StackOverflowError: stack size 1043KB
       at com.klarna.mobile.sdk.a.i.a.a.b.getAnalyticsManager(AssetManager.kt:1)
       at com.kla

[2022-02-22 10:01] NMGuner commented on #133
Hi @tanmayyy, thanks for reaching out. We faced a similar issue with another app due to obfuscation of some classes inside the SDK with their release/production builds. We prevented that with new consumer proguard rules in [last versions of the SDK](https://github.com/klarna/klarna-mobile-sdk/blob/master/CHANGELOG.md#android). We will take a look at the stacktrace and try to identify your case but

[2022-02-22 10:40] tanmayyy commented on #133
Thanks @NMGuner , we are upgrading to the latest version 2.1.5 . Let us know if there are any other quick fixes? Should we have some proguard rules on our end as well? Is there a config to disable the analytics if it is causing the crashes?

[2022-03-22 09:01] tanmayyy commented on #133
Update to 2.1.5 indeed fixed it, thanks!

[2022-03-22 09:01] #133 closed

[2022-03-29 15:52] tanmayyy opened #136 "Adding Klarna SDK to our App increases our APK (downloadable) size by 5MB"
**Describe the bug**
After adding the Klarna In App Android SDK to our app, our App  (downloadable) size increased by over 5 MB and overall app size increased by 10 MB (uncompressed).

**To Reproduce**
Build a release build with Klarna SDK. Analyze the APK using APK Analyzer.

**Expected behavior**
To not increase our App size so significantly.

**Screenshots**
<img width="1000" alt="Screenshot 20

[2022-03-31 08:38] NMGuner commented on #136
Hi @tanmayyy, the default(full) variant of the SDK includes these resources for the card scanning feature. Alternatively, if you don't want that feature and prefer a smaller package, you can use `implementation 'com.klarna.mobile:sdk-basic:2.1.6'` instead of `implementation 'com.klarna.mobile:sdk:2.1.6'`.

I am closing this issue now, but don't hesitate to contact us if you notice this or any othe

[2022-03-31 08:38] #136 closed

[2022-04-01 08:35] tanmayyy commented on #136
Thanks a lot @NMGuner for your response, I will try it out

[2022-04-13 10:17] artyom-stv opened #137 "Fix documentation comments in iOS framework headers"
**Describe the bug**
There are 12 mistakes in the documentation comments in iOS header files: invalid attribute names following `\param`.

<details>
  <summary>Build log</summary>

[code]
</details>

**To Reproduce**
Steps to reproduce the behavior:
1. Import `KlarnaMobileSDK`
2. See warnings (`-Wdocumentation`) that cannot be suppressed

**Expected behavior**
There are no mistakes that cause warn

[2022-05-23 11:55] artyom-stv commented on #137
Hi!

Is there any progress with this issue?

[2022-06-01 09:34] Keko2025 opened #142 "【Android】 project and version ？"
**Is your feature request related to a problem? Please describe.**
Where are the android project and version update records?

[2022-06-09 12:48] indiascope opened #144 "[Android] Documentation for Custom Tab and One Klarna payment flow."
**Is your feature request related to a problem? Please describe.**

In Android 2.1.7 Release in Changelog,  I can see
 "**Added support for opening Custom Tabs**". and

in the 2.1.6 Release, I can see
"**Added support for "One Klarna" payment flow**."

But In the Documentation, I don't find How we can use it in Android App?

**Describe the solution you'd like**
Please share if any documentation is

[2022-06-29 12:52] AmyNgithub opened #145 "Registration of card as payment method stuck at "Waiting for authentication""
**Describe the bug**
The registration of a card as payment method gets stuck after successfully authenticating with BankID  and returning to the app from external browser (which opened this page https://cards-eu.klarna.com/gui/modern-13.1.0//pay-challenger.html?init3ds=…) In the app the Klarna popup shows “Väntar på autentisering” (Waiting for authentication) and a loading animation (which is movi

[2022-07-05 08:57] NMGuner commented on #142
Hi @Keko2025, you can find the android changelog [here](https://github.com/klarna/klarna-mobile-sdk/blob/master/CHANGELOG.md#android)

[2022-07-05 08:57] #142 closed

[2022-07-05 09:29] NMGuner commented on #144
Hi @indiascope,

The custom tab support has been added as internal support for Klarna web components to trigger via the SDK hence the flows involving that functionality depend on those components.

For how to enable One Klarna Payment Flow, it depends on the merchant and the region as that is how the One Klarna feature is decided by the Klarna Payments. For the native integration there is no expli

[2022-07-05 09:29] GengJian opened #146 "when first init payment view, always "option not available""
**Describe the bug**
A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/13254245/177296513-1511661e-aa44-4ba4-aa49-248c9547efe5.png)
when I first request clientToken and initialize the paymentview,sometimes it tells me option not available -.-

onInitialized and onErrorOccurred will be called ..

the same order,try again maybe is fine...

LOG is

[2022-07-05 09:32] GengJian commented on #146
1. request

        mViewModel.createSessionIdLiveData.observe(this) {
            val returnUrl = "com.xxxx.android://klarna"
            val clientToken = it.sessionId

            if (clientToken.isNullOrBlank()) {
                vsShowShortToast("Error: no klarna client token")
            } else {
                GlobalScope.launch(Dispatchers.Main) {
                    mBinding.klarnaPayme

[2022-07-08 05:18] indiascope commented on #144
Hi @NMGuner

If  Webview is not Installed on Device or maybe at that Webview is updating then Klarna will Internally choose  Custom Tab instead of Webview Correct?

Also Instead of Webview, we can't directly select Chrome Custom Tab correct? Klarna will automatically switch from Webview to  Custom Tab as a fallback?

Also For KlarnaOSMView similar Functionality is implemented? I have checked after

[2022-08-04 07:17] piercifani opened #150 "Payment fails if app has a non-alphanumeric name"
**Describe the bug**
The SDK infers the merchant name using the app's name. However, if the app's name contains a non-alphanumeric name (such as special characters or emojis), starting the SDK fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Name your app something like "Klarnaβ"
2. Start the SDK to attempt a payment
3. Receive the error

**Expected behavior**
The SDK should either:
-

[2022-08-04 07:33] polar133 commented on #150
Hi @piercifani. Thanks for the comment. The 403 response has been made intentionally from our end, but it should only affect event logging. Hence the SDK should work as expected. This should impact all requests to the same endpoint regardless of the content of the request.

[2022-08-04 07:45] piercifani commented on #150
Hello @polar133 , thanks for the quick response.

However, this 403 is not the only error we see in our end, but also the SDK fails to [load the payment](https://user-images.githubusercontent.com/869981/182792374-0d4b7705-02c1-46d5-82db-991a7baae065.png) as you can see in this screenshot.

Changing our app's name to alphanumeric characters, fixes it. So this definitely has something to do with it.

[2022-08-04 07:51] polar133 commented on #150
oh got it. Thanks for the clarification. I will share it internally and be back when I have updates to share.

[2022-08-16 09:46] AmyNgithub opened #151 "iOS app rejected due to ITMS-90683: Missing Purpose String for NSCameraUsageDescription despite using KlarnaMobileSDK/basic"
**Describe the bug**
The iOS app I'm working on gets rejected due to ITMS-90683: Missing Purpose String for NSCameraUsageDescription despite using KlarnaMobileSDK/basic. I thought the basic version did not include the card scanning feature and therefore did not require the NSCameraUsageDescription?

**To Reproduce**
Steps to reproduce the behavior:
1. Add `pod 'KlarnaMobileSDK/basic','2.1.6'` to p

[2022-08-16 10:22] AmyNgithub commented on #145
This has been resolved on Klarna's side. I did not need to update or make any changes to the app for the fix to take effect. Thanks!

[2022-08-16 10:22] #145 closed

[2022-08-16 10:24] polar133 commented on #151
Hi @AmyNgithub Thanks for the info, we will check it out.

[2022-08-17 14:25] polar133 commented on #151
Hi @AmyNgithub, we have released a new version (v 2.2.2) that should remove the references. Sorry for any inconvenience. It was an issue in our pipeline that didn't exclude the files for the card scan. Please, give it a try and let us know how it goes.

[2022-08-18 07:09] AmyNgithub commented on #151
Thanks for the fast response and fix time @polar133!
Version 2.2.2 resolved the issue.

[2022-08-18 07:09] #151 closed

[2022-09-26 13:12] this-is-daniru opened #159 "Xcode 14.0 Swift 5.7 compilation error"
**Describe the bug**
Package fails to compile with current Xcode Version 14.0 (14A309) with Swift 5.7 run on macOS Monterey 12.6
Compiler points out two errors:

**To Reproduce**
Steps to reproduce the behavior:
1. Start new Xcode project on Xcode 14 with Swift 5.7 toolchain
2. Add klarna-mobile-sdk package
3. import KlarnaMobileSDK anywhere in the project
4. see error

**Expected behavior**
Proje

[2022-09-28 09:14] twprzybysz commented on #159
+1

[2022-09-28 09:23] polar133 commented on #159
Hi @this-is-daniru @twprzybysz.

Thanks for the information. We just released a new version compiled using the latest stable version of Xcode (14.0.1). Please give it a try and let us know how it goes.

[2022-09-28 09:28] twprzybysz commented on #159
Hello @polar133,

I'm checking the SDK on Xcode 13.3.1 and I'm getting following message:
`Failed to build module 'KlarnaMobileSDK'; this SDK is not supported by the compiler (the SDK is built with 'Apple Swift version 5.5.1 (swiftlang-1300.0.31.4 clang-1300.0.29.6)', while this compiler is 'Apple Swift version 5.6 (swiftlang-5.6.0.323.62 clang-1316.0.20.8)'). Please select a toolchain which match

[2022-09-28 09:30] twprzybysz commented on #159
@polar133 is `BUILD_LIBRARY_FOR_DISTRIBUTION=YES` set? If no, then this is the case.

[2022-09-28 09:36] polar133 commented on #159
Yes. it's built with that setting enabled. Should be compatible with any Xcode > 12. Also, we have the subspec for forcing a built using Xcode 13  (https://github.com/klarna/klarna-mobile-sdk/blob/master/KlarnaMobileSDK.podspec#L25)

[2022-09-28 09:47] this-is-daniru commented on #159
The issue persists with version 2.3.1 (Xcode 14.0) although with different error message which now reads
`Failed to build module 'KlarnaMobileSDK' for importation due to the errors above; the textual interface may be broken by project issues or a compiler bug`

Going back to version 2.2.3 fixes the issue.

[2022-09-28 10:11] polar133 commented on #159
Thanks. We are checking what's the problem.

[2022-09-28 10:54] twprzybysz commented on #159
@polar133 I forgot to mention that I'm trying to use Klarna SDK by spm.

[2022-09-28 11:15] twprzybysz commented on #159
I'm attaching demo project which generates an error:
[TestKlarna.zip](https://github.com/klarna/klarna-mobile-sdk/files/9664312/TestKlarna.zip)

Every run of iOS project shows:
`/.../KlarnaMobileSDK.framework/Modules/KlarnaMobileSDK.swiftmodule/x86_64-apple-ios-simulator.private.swiftinterface:21:8: No such module '_StringProcessing'`
`/.../ContentView.swift:9:8: Failed to build module 'KlarnaMobi

[2022-09-28 11:16] polar133 commented on #159
Thanks @twprzybysz !

[2022-09-29 09:42] polar133 commented on #159
Hi, just for some updates. We are working on a possible fix in the next release, which hopefully, will be available later today. Meanwhile, we will delete the last version (2.3.1) since it has an issue with Xcode 14.

[2022-09-29 14:09] polar133 commented on #159
@twprzybysz @this-is-daniru Hi, we re-release version 2.3.1 with a fix. Please give it a try; hopefully, this should work on both Xcode 13 and 14. 🤞

[2022-09-29 15:27] this-is-daniru commented on #159
Hi, the re-release might have caused some issues with SPM revision number.
As of now I'm not able to check out package with v 2.3.1 due to error:
`error project: Revision a86ebeef2fd9bc18bf9c31765dfd6bee73646285 for klarna-mobile-sdk remoteSourceControl https://github.com/klarna/klarna-mobile-sdk version 2.3.1 does not match previously recorded value 82e31ed72eb77a21cc486317313732256cfd345f
`

[2022-09-30 12:34] twprzybysz commented on #159
@polar133 I confirm that issue is resolved, thanks for quick response.

[2022-09-30 12:35] uszynskimateusz commented on #159
HI @polar133,
I checked now on Xcode 13.4.1 and it is ok. Everything is working.

[2022-10-06 13:49] piercifani commented on #150
Hey guys, summer has passed and still no news here. Any updates?

[2022-10-06 17:30] rondalewilliams opened #163 "Unable to get provider com.klarna.mobile.KlarnaInitProvider"
**Describe the bug**

It looks when an Activity tries to spin up the Content Provider within the Klarna In-App store SDK we get a ClassNotFoundException. We've seen only a few instances of this in Crashlytics but we figured it should be on the radar. We believe this is due to an issue with the Android OS.

**To Reproduce**
We haven't been able to reproduce this.

**Expected behavior**
A clear and

[2022-10-31 12:54] #159 closed

[2022-11-08 20:10] aligokdemir commented on #121
hello @NMGuner I'm also getting a blank view when I try to initialize the view with token and I'm also registering the callback as stated in the docs. However, I'm still getting no callback registered error from your sdk like below. what might be the reason for this 🤔

[code]